.link {
  color: white;
  &__title {
    color: red;
  }
  &__description {
    color: black;
  }
  &__image {
    border: none;
  }
}

.hero {
  background-color: $blue;
  h1.title {
    color: white;
  }
  h2.subtitle {
    color: white;
  }
}