body, html {
  font-family: 'Montserrat', 'Baloo Bhai', cursive;
  background: map_get($colors, 'primary');
  color: white;
}

/** Transitions effects **/

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  padding-left: 10px;
  opacity: 0;
  z-index: 1;
}
